
  h2 .red-text {
  color: red;
}
h3 {
  color: orange;
}
#mypic{
width:100px;

}
body {
  background-color: lightblue;
}

figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
